In [50]:
# 시리즈 : 1차원 배열 -> 인덱스와 값이 존재
import pandas as pd

In [51]:
dict_data = {'a' : 1, 'b' : 2, 'c' : 3}
list_data = [1, 2, 3]
srd = pd.Series(dict_data)
srl = pd.Series(list_data)

print(type(dict_data), dict_data)
print(type(srd), '\n', srd)

print(type(list_data), list_data)
print(type(srl), '\n', srl)

<class 'dict'> {'a': 1, 'b': 2, 'c': 3}
<class 'pandas.core.series.Series'>
 a    1
b    2
c    3
dtype: int64
<class 'list'> [1, 2, 3]
<class 'pandas.core.series.Series'>
 0    1
1    2
2    3
dtype: int64

In [52]:
# 인덱스 확인
print("srd.index : ",srd.index)
print("srl.index : ",srl.index)

# 시리즈 값 확인
print("srd.values : ",srd.values)
print("srl.values : ",srl.values)

srd.index :  Index(['a', 'b', 'c'], dtype='object')
srl.index :  RangeIndex(start=0, stop=3, step=1)
srd.values :  [1 2 3]
srl.values :  [1 2 3]

In [53]:
# 각 자료 원소 선택
sr_data = pd.Series(list(range(10)))
# sr[idx_start:indx_end]
sr_data[1:4]
srd['a']
sr_key = pd.Series({'a' : 1, 'b' : 2, 'c' : 3, 'd' : 4, 'e' : 5})

In [54]:
print(sr_key[['a', 'b']], '\n')
print(sr_key[[0,2]], '\n')

print(sr_key['a':'c'], '\n')
print(sr_key[0:2], '\n')

a    1
b    2
dtype: int64

a    1
c    3
dtype: int64

a    1
b    2
c    3
dtype: int64

a    1
b    2
dtype: int64

In [55]:
sr_list = pd.Series(list(range(5)), index = ['a', 'b', 'c', 'd', 'e'])
sr_list

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [56]:
# 마지막 자료를 출력 : 인덱스명과 첨자 둘다
print(sr_list.index[-1], sr_list.values[-1])
# 1번째부터 3번째 까지의 자료 출력

print(sr_list[1:4], '\t', sr_list['b':'e'])
# 인덱스명 'b'와 'd'의 값 출력
print(sr_list[['b','e']])

e 4
b    1
c    2
d    3
dtype: int64 	 b    1
c    2
d    3
e    4
dtype: int64
b    1
e    4
dtype: int64

In [57]:
# dataframe : 2차원, pandas.DataFrame(data, [index=], columns = [])
# dictionary 데이터로 데이터프레임 생성

dict_data = {'c0':[1,2,3],
            'c1':[4,5,6],
            'c2':[7,8,9]}

df = pd.DataFrame(dict_data)
df

   c0  c1  c2
0   1   4   7
1   2   5   8
2   3   6   9

In [69]:
# dataframe -> index, column 명 부여

df = pd.DataFrame([[15,'남','수리중'],
                  [17,'여','덕명중']],
                 index = ['준서', '예은'],
                 columns = ['나이', '성별', '학교' ])

df

    나이 성별   학교
준서  15  남  수리중
예은  17  여  덕명중

In [70]:
#새로운 행을 추가 df.loc['인덳,명'] = [값, ..] 또는 df.인덱스명 = 값

df.loc['철수'] = [17,'남','수리중']

df

    나이 성별   학교
준서  15  남  수리중
예은  17  여  덕명중
철수  17  남  수리중

In [76]:
# 인덱스명 변경 -> 행 인덱스, 열 이름
# 객체명.index = 새로운 인덱스명
# 객체명.column = 새로운 칼럼명

df.index = ['a', 'b', 'c']
df

# 일부 인덱스명만 수정
# 객체명.rename(index={ 기존인덱스명 : 새 인덱스명, ....})
# 객체명.rename(column={ 기존컬럼명 : 새 컬럼명, ....})
# 남녀 -> 성별, 'a' -> '준서'로 변경하기

df.rename(columns={'성별':'남녀'}, index = {'a' : '준서'})

    나이 남녀   학교
준서  15  남  수리중
b   17  여  덕명중
c   17  남  수리중

In [79]:
# 행과 열을 삭제 
# 행 삭제 -> 객체.drop(행인덱스 또는 배열, axis=0)
# 열 삭제 -> 객체.drop(열인덱스 또는 배열, axis=1)

# df.drop('남녀', axis=1)
# df

In [83]:
# 이름을 키로, 국어, 영어, 수학, 과학 점수를 값으로
# 입력받아 dictionary에 저장 후
# 해당 자료를 데이터 프레임으로 전환 -> 인덱스명은 이름으로

class Data:
    
    dict_data = {}
    def __init__(self, name, kor, eng, math, sci):
        self.name = name
        self.kor = kor
        self.eng = eng
        self.math = math
        self.sci = sci
        
    def dict_save(self):
        Data.dict_data[self.name] = [self.kor, self.eng, self.math, self.sci]
        return Data.dict_data

dict_data = {}

while 1:
    data = input("이름 국어 영어 수학 과학 점수 > ").split()

    if data[0] == 'q':
        break
    
    dict_data = Data(data[0], data[1], data[2], data[3], data[4])
    
print(list(dict_data))

이름 국어 영어 수학 과학 점수 > a 1 2 3 4
이름 국어 영어 수학 과학 점수 > b 2 3 4 5
이름 국어 영어 수학 과학 점수 > q

TypeError: 'Data' object is not iterable

In [84]:
exam_data = {'수학' : [90,80,70], '영어' : [99,89,95], '음악' : [85,95,100], '체육' : [100,90,100]}

df = pd.DataFrame(exam_data, index = ['서준', '우현', '인아'])
print(df)

    수학  영어   음악   체육
서준  90  99   85  100
우현  80  89   95   90
인아  70  95  100  100

In [88]:
# 행 인덱스(이름)를 사용하여 1개 행 선택('서준')
print(df.loc['서준'])

# 행 인덱스(정수)를 사용하여 1개 행 선택(0행)
print(df.iloc[0])

# 두 개의 행을 선택 '서준', '우현'
print(df.loc[['서준', '우현']])
print(df.iloc[[0,1]])

# 범위를 선택 '서준' : '우현'
print(df.loc['서준' : '우현'])
print(df.iloc[0:1])

수학     90
영어     99
음악     85
체육    100
Name: 서준, dtype: int64
수학     90
영어     99
음악     85
체육    100
Name: 서준, dtype: int64
    수학  영어  음악   체육
서준  90  99  85  100
우현  80  89  95   90
    수학  영어  음악   체육
서준  90  99  85  100
우현  80  89  95   90
    수학  영어  음악   체육
서준  90  99  85  100
우현  80  89  95   90
    수학  영어  음악   체육
서준  90  99  85  100

In [91]:
#컬럼 (열)을 선택 : df.컬럼명 또는 df['컬럼명']
print(df.수학, '\n', df['수학'])
print( df['수학':'음악'])

서준    90
우현    80
인아    70
Name: 수학, dtype: int64
 서준    90
우현    80
인아    70
Name: 수학, dtype: int64
    수학  영어  음악  체육
우현  80  89  95  90

In [97]:
# 범위 슬라이싱 : 객체.iloc[start : end : step]

# df.iloc[0:3:1]
# df.iloc[::-1]
df.iloc[::2]

    수학  영어   음악   체육
서준  90  99   85  100
인아  70  95  100  100

In [120]:
# 데이터프레임의 각 원소를 선택
# 인덱스 이름 : 데이터프레임 객체.loc[행 인덱스명, 컬럼명]
# 정수 위치 인덱서 : 데이터프레임 객체.iloc[행번호, 열 번호]
# 서준의 여어 점수를 출럭

print(df.loc['서준', '영어'], df.iloc[0,1])
print()
# 서준과 인아의 영어와 음악점수 출력
print(df.loc[['서준','인아'], ['영어','음악']])
print()
# 서준부터 인아까지 수학와 음악점수 출력
print(df.loc['서준':'인아', '수학':'음악'])
print()
print(df.iloc[:,:-1])
print()
# 서준의 수학과 체육 점수만 출력
df.loc[['서준'], ['수학','체육']]    # dataframe
df.loc['서준', ['수학','체육']]      # series

df.loc['철수'] = [80, 90, 100, 90]   # 새로운 행 추가
df

#기존의 행을 복사해서 추가
df.loc['추가'] = df.loc['서준']
df

99 99

    영어   음악
서준  99   85
인아  95  100

    수학  영어   음악
서준  90  99   85
우현  80  89   95
인아  70  95  100

    수학  영어   음악
서준  90  99   85
우현  80  89   95
인아  70  95  100
철수  80  90  100
추가  90  99   85

    수학  영어   음악   체육
서준  90  99   85  100
우현  80  89   95   90
인아  70  95  100  100
철수  80  90  100   90
추가  90  99   85  100

In [122]:
df = pd.DataFrame(columns=['kor', 'eng', 'math'])
df

Empty DataFrame
Columns: [kor, eng, math]
Index: []

In [151]:
# 이름, 국어, 영어, 수학 점수를 입력받아 이름을 인덱스를 데이터 프레임에 저장
# df를 출력
# 이름을 입력받아 데이터프레임의 자료를 검색해서 출력
# 이름과 과목을 입력 받아 데이터 출력

def create_score():
    
    dict_score = {}
    while 1:
        
        std = input("이름, 국어, 영어, 수학 점수 > ").split()

        if std[0] == 'q':
            break
            
        dict_score[std[0]] = list(map(int,[i for i in std[1:]]))
    return dict_score

def search_name(df):
    name = input("이름 > ")
    return df.loc[name]

def search_score(df):
    name = input("이름 > ")
    obj = input("과목 > ('kor', 'eng', 'math' 중에 선택) ")
    return df.loc[name, [obj]]

In [152]:
df = pd.DataFrame(create_score(), index=['kor', 'eng', 'math'])
df = df.transpose()

이름, 국어, 영어, 수학 점수 > a 1 2 3
이름, 국어, 영어, 수학 점수 > b 2 3 4
이름, 국어, 영어, 수학 점수 > c 3 4 5
이름, 국어, 영어, 수학 점수 > q

In [153]:
search_name(df)

이름 > a

kor     1
eng     2
math    3
Name: a, dtype: int64

In [154]:
search_score(df)

이름 > a
과목 > ('kor', 'eng', 'math' 중에 선택) math

math    3
Name: a, dtype: int64