In [5]:
# pandas 에서 제공하는 파일 입출력
import pandas as pd

file = pd.read_csv('./dataset/ex_1.csv')
df = pd.DataFrame(file)

df

   c0  c1  c3  c4
0   0   1   2   3
1   2   4   8  16
2   3   6   9  12

In [6]:
file = pd.read_csv('./dataset/ex_1.csv', header=None)   # 첫 행을 데이터로 인식
df1 = pd.DataFrame(file)
df1

    0   1   2   3
0  c0  c1  c3  c4
1   0   1   2   3
2   2   4   8  16
3   3   6   9  12

In [7]:
# index 칼럼을 c0로 설정
file = pd.read_csv('./dataset/ex_1.csv', index_col='c0')   # 첫 행을 데이터로 인식
df2 = pd.DataFrame(file)
df2

    c1  c3  c4
c0
0    1   2   3
2    4   8  16
3    6   9  12

In [8]:
# 저장
df2.to_csv('./dataset/to_ex_1.csv')

In [17]:
# excel file read

df = pd.read_excel('./dataset/data/남북한발전전력량.xlsx')
print(df)
print(df.columns, '\n')

# header 미적용
df1 = pd.read_excel('./dataset/data/남북한발전전력량.xlsx', header=None)
print(df1)
print(df1.columns)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     -     -     -     -     -     -     -     -  ...     -
5        북한     합계   277   263   247   221   231   230   213   193  ...   236
6       NaN     수력   156   150   142   133   138   142   125   107  ...   133
7       NaN     화력   121   113   105    88    93    88    88    86  ...   103
8       NaN    원자력     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -

[9 rows x 29 columns]
Index(['전력량 (억㎾h)', '발전 전력별', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016'],
      dtype='object')

          0       1     2     3     4     5     6     7     8     9   ...  \
0  전력량 (억㎾h)  발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...
1         남한      합계  1077  1186  1310  1444  1650  1847  2055  2244  ...
2        NaN      수력    64    51    49    60    41    55    52    54  ...
3        NaN      화력   484   573   696   803  1022  1122  1264  1420  ...
4        NaN     원자력   529   563   565   581   587   670   739   771  ...
5        NaN     신재생     -     -     -     -     -     -     -     -  ...
6         북한      합계   277   263   247   221   231   230   213   193  ...
7        NaN      수력   156   150   142   133   138   142   125   107  ...
8        NaN      화력   121   113   105    88    93    88    88    86  ...
9        NaN     원자력     -     -     -     -     -     -     -     -  ...

     19    20    21    22    23    24    25    26    27    28
0  2007  2008  2009  2010  2011  2012  2013  2014  2015  2016
1  4031  4224  4336  4747  4969  5096  5171  5220  5281  5404
2    50    56    56    65    78    77    84    78    58    66
3  2551  2658  2802  3196  3343  3430  3581  3427  3402  3523
4  1429  1510  1478  1486  1547  1503  1388  1564  1648  1620
5     -     -     -     -     -    86   118   151   173   195
6   236   255   235   237   211   215   221   216   190   239
7   133   141   125   134   132   135   139   130   100   128
8   103   114   110   103    79    80    82    86    90   111
9     -     -     -     -     -     -     -     -     -     -

[10 rows x 29 columns]
Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28],
           dtype='int64')

In [22]:
dfj = pd.read_json('./dataset/data/read_json_sample.json')
print(dfj)
print(type(dfj))
print('\n', dfj.index)

           name  year        developer opensource
pandas           2008    Wes Mckinneye       True
NumPy            2006  Travis Oliphant       True
matplotlib       2003   John D. Hunter       True
<class 'pandas.core.frame.DataFrame'>

 Index(['pandas', 'NumPy', 'matplotlib'], dtype='object')

In [32]:
# html 읽어오기
url = 'dataset/data/sample.html'
dfu = pd.read_html(url)

print(dfu, '\n')
for i in range(len(dfu)): 
    print("dfu [%s]" %i)
    print(dfu[i])

[   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9,          name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True]

dfu [0]
   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9
dfu [1]
         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True

In [37]:
# 데이터 프레임에 dfu[1]의 정보를 대입

df = dfu[1]
print(df)

# 데이터 프레임에 'name' 컬럼을 인덱스로 설정
print(df.set_index('name'))

# year 컬럼을 기준으로 정렬
print('\n', df.set_index('name').sort_values('year'))

         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True
            year        developer  opensource
name
NumPy       2006  Travis Oliphant        True
matplotlib  2003   John D. Hunter        True
pandas      2008    Wes Mckinneye        True

             year        developer  opensource
name
matplotlib  2003   John D. Hunter        True
NumPy       2006  Travis Oliphant        True
pandas      2008    Wes Mckinneye        True

In [41]:
# csv 파일로 저장
df.to_csv('./dataset/sample.csv')

# jason 파일로 저장
df.to_json('./dataset/to_json.json')

# excel 파일로 저장
df.to_excel('./dataset/to_excel.xlsx')

In [46]:
# 여러 개의 데이터프레임을 하나의 엑셀 파일로 저장하기

writer = pd.ExcelWriter("./dataset/to_excel_writer.xlsx")
df.to_excel(writer, sheet_name='sheet1')
df1.to_excel(writer, sheet_name='sheet2')

writer.save()